// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568.dtsi"
#include "rk356x-u-boot.dtsi"

/ {
	model = "RK3568 NAS Board";
	compatible = "nas,rk3568", "rockchip,rk3568";

	sysinfo {
		compatible = "u-boot,smbios", "sandbox,sysinfo-sandbox";

		smbios {
			/* Type 1 table */
			system {
				manufacturer = "Julian";
				product = "RK3568-NAS";
				version = "rev1";
				serial = "123456789";
				sku = "sku3";
				family = "NAS";
			};

			/* Type 2 table */
			baseboard {
				manufacturer = "Julian";
				product = "RK3568-NAS";
				asset-tag = "ABC123";
			};

			/* Type 3 table */
			chassis {
				manufacturer = "Julian";
			};
		};
	};

	aliases {
		mmc0 = &sdmmc0;
	};

	chosen: chosen {
		stdout-path = "serial2:1000000n8";
		u-boot,spl-boot-order = "same-as-spl", &sdmmc0;
	};

	dmc: dmc {
		compatible = "rockchip,rk3568-dmc";
		bootph-all;
		status = "okay";
	};

	otp: nvmem@fe38c000 {
		compatible = "rockchip,rk3568-otp";
		reg = <0x0 0xfe38c000 0x0 0x4000>;
		#address-cells = <1>;
		#size-cells = <1>;
		status = "okay";

		cpu_id: id@a {
			reg = <0x0a 0x10>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_boot: led-2 {
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_BOOT;
			default-state="on";
			color = <LED_COLOR_ID_BLUE>;
			pinctrl-names = "default";
			pinctrl-0 = <&led_boot_en>;
		};
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc3v3_io: vcc3v3-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_pmu: vcc3v3-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v8_pmu: vcc1v8-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v8_image: vcc1v8-image {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v2_ddr: vcc1v2-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v2_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc0v9_pmu: vcc0v9-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc0v9_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc0v9_image: vcc0v9-image {
		compatible = "regulator-fixed";
		regulator-name = "vcc0v9_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_gpu: vdd-gpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_gpu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_npu: vdd-npu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_npu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vcc5v0_sys>;
	}; 
};

&pinctrl {
	leds {
		led_hb_en: led_hb_en {
			rockchip,pins = <3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		led_boot_en: led_boot_en {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};

&combphy0 {
	status = "okay";
};

&combphy1 {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};


&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vcc3v3_io>;
	vccio2-supply = <&vcc3v3_io>;
	vccio3-supply = <&vcc3v3_io>;
	vccio4-supply = <&vcc3v3_io>;
	vccio5-supply = <&vcc3v3_io>;
	vccio6-supply = <&vcc3v3_io>;
	vccio7-supply = <&vcc3v3_io>;
	status = "okay";
};

&saradc {
	vref-supply = <&vcc1v8_pmu>;
	status = "okay";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1m0_pins>;
	status = "okay";
};

&pwm6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm6_pins>;
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	vmmc-supply = <&vcc3v3_io>;
	vqmmc-supply = <&vcc3v3_io>;
	status = "okay";
	bootph-pre-ram;
	u-boot,dm-spl;
	u-boot,spl-fifo-mode;

};

&sdmmc0_bus4 {
	bootph-all;
};

&sdmmc0_clk {
	bootph-all;
};

&sdmmc0_cmd {
	bootph-all;
};

&sdmmc0_det {
	bootph-all;
};

&uart2m0_xfer {
	bootph-all;
};


&uart2 {
	clock-frequency = <24000000>;
	bootph-pre-ram;
	status = "okay";
};

&xin24m {
	bootph-all;
	status = "okay";
};

&cru {
	bootph-all;
	status = "okay";
};

&pmucru {
	bootph-all;
	status = "okay";
};


&grf {
	bootph-all;
	status = "okay";
};

&pmugrf {
	bootph-all;
	status = "okay";
};

&pinctrl {
	bootph-all;
};

&pcfg_pull_none {
	bootph-all;
};


&pcfg_pull_up_drv_level_2 {
	bootph-all;
};

&pcfg_pull_up {
	bootph-all;
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};


&sfc {
	compatible = "rockchip,sfc";
	max-freq = <50000000>;
	reg = <0x0 0xfe300000 0x0 0x4000>;
	interrupts = <GIC_SPI 101 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&cru SCLK_SFC>, <&cru HCLK_SFC>;
	clock-names = "clk_sfc", "hclk_sfc";
	pinctrl-0 = <&fspi_pins>;
	pinctrl-names = "default";
	status = "okay";

	spi_flash: spi-flash@0 {
			compatible = "jedec,spi-nor";
			reg = <0>;
			spi-max-frequency = <50000000>;
			spi-tx-bus-width = <1>;
			spi-rx-bus-width = <4>;
			status = "okay";
			
	};
};
