// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include "rk3568.dtsi"

/ {
	model = "RK3568 NAS Board";
	compatible = "nas,rk3568", "rockchip,rk3568";

	aliases {
		mmc0 = &sdmmc0;
		eth0 = &gmac0;
		eth1 = &gmac1;
	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	leds {
		compatible = "gpio-leds";

		led_work: led-0 {
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = "default-on";
			default-state="on";
			pinctrl-names = "default";
			pinctrl-0 = <&led_hb_en>;
		};

		led_act: led-1 {
			gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "disk-activity";
			color = <LED_COLOR_ID_RED>;
			pinctrl-names = "default";
			pinctrl-0 = <&led_act_en>;
		};

		led_boot: led-2 {
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_BOOT;
			color = <LED_COLOR_ID_BLUE>;
			pinctrl-names = "default";
			pinctrl-0 = <&led_boot_en>;
		};
	};


	fan1: pwm-fan1 {
		compatible = "pwm-fan";
		pwms = <&pwm1 0 40000 0>;
		fan-supply = <&dc_12v>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB5 IRQ_TYPE_EDGE_FALLING>;
		pulses-per-revolution = <1>;
	};

	fan2: pwm-fan2 {
		compatible = "pwm-fan";
		pwms = <&pwm6 0 40000 0>;
		fan-supply = <&dc_12v>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC4 IRQ_TYPE_EDGE_FALLING>;
		pulses-per-revolution = <1>;
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc3v3_io: vcc3v3-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_pmu: vcc3v3-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v8_pmu: vcc1v8-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v8_image: vcc1v8-image {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc1v2_ddr: vcc1v2-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v2_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc0v9_pmu: vcc0v9-pmu {
		compatible = "regulator-fixed";
		regulator-name = "vcc0v9_pmu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vcc0v9_image: vcc0v9-image {
		compatible = "regulator-fixed";
		regulator-name = "vcc0v9_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_gpu: vdd-gpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_gpu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <825000>;
		regulator-max-microvolt = <825000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

	vdd_npu: vdd-npu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_npu";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vcc5v0_sys>;
	}; 

edp: edp@fe0c0000 {
	compatible = "rockchip,rk3568-edp";
	reg = <0x0 0xfe0c0000 0x0 0x10000>;
	interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&pmucru XIN_OSC0_EDPPHY_G>, <&cru PCLK_EDP_CTRL>,
			<&cru CLK_EDP_200M>, <&cru HCLK_VO>;
	clock-names = "dp", "pclk", "spdif", "hclk";
	resets = <&cru SRST_EDP_24M>, <&cru SRST_P_EDP_CTRL>;
	reset-names = "dp", "apb";
	phys = <&edp_phy>;
	phy-names = "dp";
	power-domains = <&power RK3568_PD_VO>;
	status = "okay";

    hpd-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		edp_in: port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			edp_in_vp0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&vp0_out_edp>;
				status = "okay";
			};
		};
	};
};

edp_phy_grf: syscon@fdcb0000 {
	compatible = "rockchip,rk3568-edp-phy-grf", "syscon", "simple-mfd";
	reg = <0x0 0xfdcb0000 0x0 0x100>;
	clocks = <&cru PCLK_EDPPHY_GRF>;

	edp_phy: edp-phy {
		compatible = "rockchip,rk3568-edp-phy";
		clocks = <&pmucru XIN_OSC0_EDPPHY_G>;
		clock-names = "refclk";
		#phy-cells = <0>;
		status = "okay";
	};
};


};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vcc3v3_io>;
	vccio2-supply = <&vcc3v3_io>;
	vccio3-supply = <&vcc3v3_io>;
	vccio4-supply = <&vcc1v8_image>;
	vccio5-supply = <&vcc1v8_image>;
	vccio6-supply = <&vcc3v3_io>;
	vccio7-supply = <&vcc3v3_io>;
	status = "okay";
};

&saradc {
	vref-supply = <&vcc1v8_pmu>;
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	vmmc-supply = <&vcc3v3_io>;
	vqmmc-supply = <&vcc3v3_io>;
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&uart2 {
	status = "okay";
};


&pinctrl {

	leds {
		led_hb_en: led_hb_en {
			rockchip,pins = <3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		led_act_en: led_act_en {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		led_boot_en: led_boot_en {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie {
		m2pcie_0_rst_h: m2pcie-0-rst-h {
			rockchip,pins = <1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up_drv_level_5>;
		};

		m2pcie_1_rst_h: m2pcie-1-rst-h {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up_drv_level_5>;
		};
	};


};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};


&usb2phy1 {
	status = "okay";
};

&usb2phy1_host {
	phy-supply = <&vcc5v0_sys>;
	status = "okay";
};

&usb2phy1_otg {
	phy-supply = <&vcc5v0_sys>;
	status = "okay";
};


&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_edp: endpoint@ROCKCHIP_VOP2_EP_EDP0 {
		reg = <ROCKCHIP_VOP2_EP_EDP0>;
		remote-endpoint = <&edp_in_vp0>;
	};
};

&i2c0 {
	status = "okay";
	rtc0: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
	};

	temp0: tmp112@48 {
        compatible = "ti,tmp112";
        reg = <0x48>;
        vs-supply = <&vcc3v3_io>;
	};

	eeprom@50 {
		#address-cells = <1>;
   		#size-cells = <0>;
		compatible = "atmel,24c02";
		vcc-supply = <&vcc3v3_io>;
		reg = <0x50>;
		eth0_addr: eth-mac-addr@0{
			reg = <0x0 0x06>;
		};
		eth1_addr: eth-mac-addr@16{
			reg = <0x10 0x06>;
		};
	};
};

&gmac0 {
	snps,reset-gpio = <&gpio4 RK_PD0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "input";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii";
	tx_delay = <0x22>;
	rx_delay = <0x0e>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;

	nvmem-cells = <&eth0_addr>;
	nvmem-cell-names = "mac-address";
	status = "okay";
};

&mdio0 {
	rgmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		status = "okay";
	};
};

&gmac1 {
	snps,reset-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "input";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii";
	tx_delay = <0x22>;
	rx_delay = <0x0e>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m0_miim
				 &gmac1m0_tx_bus2
				 &gmac1m0_rx_bus2
				 &gmac1m0_rgmii_clk
				 &gmac1m0_rgmii_bus>;

	nvmem-cells = <&eth1_addr>;
	nvmem-cell-names = "mac-address";			 		 
	status = "okay";
};


&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		status = "okay";
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1m0_pins>;
	status = "okay";
};

&pwm6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm6_pins>;
	status = "okay";
};


&combphy0 {
	status = "okay";
};

&combphy1 {
	status = "okay";
};

&combphy2 {
	status = "okay";
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&sata2 {
	status = "okay";
};

&pcie3x2 {
	num-lanes = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&m2pcie_1_rst_h>;
	reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_io>;
	max-link-speed = <1>;
	status = "okay";
};

&pcie3x1 {
	num-lanes = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&m2pcie_0_rst_h>;
	reset-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_io>;
	max-link-speed = <1>;
	status = "okay";
};

&pcie30phy {
	data-lanes = <1 2>;
	status = "okay";
};

&sfc {
	pinctrl-0 = <&fspi_pins>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;

	};
};
